<!DOCTYPE html>
<html>
  <head>
    <title>Trunc8r</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="root-url" content="<%= ENV['ROOT_URL'] %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <%= image_tag("logo_transparent.png", alt: "trunc8r axe logo", class: "header__image")%>
    </header>
    <%= yield %>
  </body>
</html>
